/*
  CSS File
*/

/*
 VARIABLES
*/
:root {
  /* Core colours */
  /* https://coolors.co/24282f-15161b-a0a5b5-ffffff-ec1e1e */
  --colour-red-CMYK: #EC1E1E;
  --colour-white: #FFFFFF;
  --colour-raisin-black: #24282F;
  --colour-night: #15161B;
  --colour-cadet-grey: #A0A5B5;

  --body-default-colour: var(--colour-white);
  --body-background-colour: var(--colour-raisin-black);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
}

/*
  PAGE / BODY
*/

body {
  color: var(--body-default-colour);
  background-color: var(--body-background-colour);
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
}

main h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--colour-red-CMYK);
  margin-bottom: 1rem;
}

input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-reminder-input {
  flex: 1 1 0;
  background-color: var(--colour-night);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--colour-cadet-grey);
  font-size: 1.25rem;
}

#new-reminder-input::placeholder {
  color: var(--colour-cadet-grey);
}

#new-reminder-submit {
  color: var(--colour-raisin-black);
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--colour-red-CMYK);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

#new-reminder-submit:hover {
  opacity: 0.6;
}

#new-reminder-submit:active {
  opacity: 0.2;
}

.reminder-list {
  margin-top: 1rem;
}

main ul.reminder-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

main ul.reminder-list li {
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  background-color: var(--colour-night);
  text-align: left;
  font-size: 1.25rem;
  transition: all;
}


@keyframes add-new-item-annimation {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.new-item-annimate {
  transform-origin: 10% 0;
  animation: add-new-item-annimation 0.3s linear;
}

/* 
footer section
*/

footer {
  padding: 0 0 2rem 0;
  background-color: var(--colour-night);
  color: #ffffff;
  text-align: center;
}

.footer--logo {
  display: block;
  width: 100px;
  padding: 2rem 0rem;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--colour-night);
}


/*
  Screen reader text utility class
*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
